<div *ngIf="races" class="">
  <form [formGroup]="model">
    <mat-form-field appearance="fill">
      <mat-label>Wybierz rasę</mat-label>
      <mat-select formControlName="raceForm" (selectionChange)="onChangeRace($event)">
        <mat-option *ngFor="let race of races" [value]="race" >
          {{race.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wybierz płeć bohatera</mat-label>
      <mat-select formControlName="sex" (selectionChange)="onSexChange()">
        <mat-option value="true">Mężczyzna</mat-option>
        <mat-option value="false">Kobieta</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="professions" appearance="fill">
      <mat-label>Wybierz profesję</mat-label>
      <mat-select (selectionChange)="onChangeProfession($event)">
        <mat-option *ngFor="let prof of professions" [value]="prof" >
          {{prof.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<app-show-race [race]="race"></app-show-race>
<app-show-profession [profession]="profession"></app-show-profession>
<button mat-raised-button *ngIf="profession && race">Wybierz</button>


