<div *ngIf="races">
  <form [formGroup]="model">
    <mat-form-field appearance="fill" >
      <mat-label>Wybierz rasę</mat-label>
      <mat-select formControlName="raceForm">
        <mat-option *ngFor="let race of races" [value]="race.name" >
          {{race.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Wybierz płeć bohatera</mat-label>
      <mat-select formControlName="sex">
        <mat-option value="male">Mężczyzna</mat-option>
        <mat-option value="female">Kobieta</mat-option>
      </mat-select>
    </mat-form-field>
  <button (click)="log()" type="submit">Chose</button>
  </form>

</div>


